<h1>Deep learning table.</h1>
<a href="{% url 'home' %}">Home</a> |
<a href="{% url 'django_backend' %}">Django Backend Conditional Example</a> |
<a href="{% url 'machine_learning' %}">Machine Learning</a>
<hr>

<table width="700" border="2px">
    <tr>
        <th>Name</th>
        <th>User name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Age</th>
        <th>Weight</th>
        <th>Food</th>
        <th>Games</th>
        <th>Music</th>
        <th>Outdoor Sports</th> 
    </tr>
    <tr>
        <td>Ismael</td>
        <td>rusty</td>
        <td>rusty@gmail.com</td>
        <td>12345</td>
        <td>29</td>
        <td>65</td>
        <td>Nun</td>
        <td>RDR2</td>
        <td>whatever</td>
        <td>whatever</td>
    </tr>
    <tr>
        <td>Ismael</td>
        <td>rusty</td>
        <td>rusty@gmail.com</td>
        <td>12345</td>
        <td>29</td>
        <td>65</td>
        <td>Nun</td>
        <td>RDR2</td>
        <td>whatever</td>
        <td>whatever</td>
    </tr>
    <tr>
        <td>Ismael</td>
        <td>rusty</td>
        <td>rusty@gmail.com</td>
        <td>12345</td>
        <td>29</td>
        <td>65</td>
        <td>Nun</td>
        <td>RDR2</td>
        <td>whatever</td>
        <td>whatever</td>
    </tr>
    <tr>
        <td>Ismael</td>
        <td>rusty</td>
        <td>rusty@gmail.com</td>
        <td>12345</td>
        <td>29</td>
        <td>65</td>
        <td>Nun</td>
        <td>RDR2</td>
        <td>whatever</td>
        <td>whatever</td>
    </tr>
    <tr>
        <td>Ismael</td>
        <td>rusty</td>
        <td>rusty@gmail.com</td>
        <td>12345</td>
        <td>29</td>
        <td>65</td>
        <td>Nun</td>
        <td>RDR2</td>
        <td>whatever</td>
        <td>whatever</td>
    </tr>
    <tr>
        <td>Ismael</td>
        <td>rusty</td>
        <td>rusty@gmail.com</td>
        <td>12345</td>
        <td>29</td>
        <td>65</td>
        <td>Nun</td>
        <td>RDR2</td>
        <td>whatever</td>
        <td>whatever</td>
    </tr>
    <tr>
        <td>Ismael</td>
        <td>rusty</td>
        <td>rusty@gmail.com</td>
        <td>12345</td>
        <td>29</td>
        <td>65</td>
        <td>Nun</td>
        <td>RDR2</td>
        <td>whatever</td>
        <td>whatever</td>
    </tr>
    <tr>
        <td>Ismael</td>
        <td>rusty</td>
        <td>rusty@gmail.com</td>
        <td>12345</td>
        <td>29</td>
        <td>65</td>
        <td>Nun</td>
        <td>RDR2</td>
        <td>whatever</td>
        <td>whatever</td>
    </tr>
    <tr>
        <td>Ismael</td>
        <td>rusty</td>
        <td>rusty@gmail.com</td>
        <td>12345</td>
        <td>29</td>
        <td>65</td>
        <td>Nun</td>
        <td>RDR2</td>
        <td>whatever</td>
        <td>whatever</td>
    </tr>
    
</table>